body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  
}
header{
     min-width:100%;
    background:#F55A5A;
    color:#fafafa;
    display:flex;
    Justify-content:center;
    align-items:center;
    

}

.globe-image{
   max-width:2rem;
   max-height:2rem;
   margin-right:0.5rem;
   
}

header h1{
  font-size:1.5rem;
  font-weight: 100;
}

main{
  max-width:100%;
  min-height:auto;
  display:flex;
  flex-direction:column;
  margin:0.5rem;
  
}

main section{
  min-width:100%;
  max-height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:1rem;
 
}

main section .image{
   max-width:40%;
   max-height:100%;
   margin-left:1rem;
   
}

.image img{
  max-width:100%;
  max-height:100%;
  
}

section .info{
  max-width:40%;
  display:flex;
  flex-direction: column;
  margin-left:1rem;
}

.info .top-info{
   display: flex;
   align-items: center;
   
}

.top-info p{
   margin-right:2rem;
}
.top-info .location-image{
  max-width:1.5rem;
  max-height:1.5rem;
 
}

.top-info .link{
  color:#918E9B;
}


.info .bottom-info{
  display:flex;
  flex-direction:column;
  /* align-items:center; */
  justify-content: center;

  

 
}

.bottom-info h1{
  font-size:25px;
  font-weight:bold;
}

.bottom-info h3{
  font-size: 14.24px;
  font-weight:bold;
}

.bottom-info p{
  font-size:14.24px;
  font-weight:regular;
  line-height:1; 
}

@media (max-width:600px ){
  
   
 .top-info .location-image{
    max-width:0.5rem;
    max-height:0.5rem;
   
  }
  a{
    font-size:6px;
  }

 
   .bottom-info h1{
      font-size:9px;
   }

   .bottom-info h3{
    font-size:7px;
   }
    .bottom-info p,p{
      font-size:6px;
     
     }

     .image img{
      margin-top:1rem;
     }

    

   
    }

@media (max-width:1024px){
  .top-info .location-image{
    max-width:01rem;
    max-height:1rem;
   
  }
  a{
    font-size:8px;
  }

 
   .bottom-info h1{
      font-size:11px;
   }

   .bottom-info h3{
    font-size:9px;
   }
    .bottom-info p,p{
      font-size:11px;
     
     }

     .image img{
      margin-top:1rem;
     }

  } 
